<h1>登録情報の編集</h1>

<%= form_with model: @user, url: customer_path do |f| %>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana %><br />
    <%= f.text_field :last_name_kana, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana %><br />
    <%= f.text_field :first_name_kana, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :postal_code %><br />
    <%= f.text_field :postal_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <%= f.submit "変更を完了" %>
<% end %>